
body {
  background-color: rgb(132, 132, 133);

}  
  .log_form{
    margin: 0 auto 100px;
    position: relative;
    z-index:1;
    display: flex;
    align-items: center;
    max-width: 360px;
    text-align:center;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background-color:rgba(0, 0, 0, 0.4);
    margin-top: px;
  
  }
  #user_text{
  height:25px;
  width:400px;
    font-size:19px;
  margin:5px;
  -webkit-animation-delay:1s;
  
  }
  #pass_text{
    height:25px;
    width:400px;
    font-size:19px;
    margin:5px;
    -webkit-animation-delay:2s;
  }
  #sub_btn{
    margin: 4px;
    width:100px;
    height:40px;
    display: flex;
    align-items: center;
    font-size: 16px;
    border-radius: 3px;
    background-color:rgba(255,255,255,0.0);
    color:rgb(0, 0, 0);
    border-style: none;
    border:5px solid #545252;
    font-size:20px;
    -webkit-animation-delay:3s;
  }
  #sub_btn:hover{
    background-color:rgb(250, 244, 66);
    color:rgb(254, 254, 254);
  
  }
  #sub2_btn{
    margin: 4px;
    width:100px;
    height:40px;
    font-size: 16px;
    border-radius: 3px;
    background-color:rgba(255,255,255,0.0);
    color:black;
    border-style: none;
    border: 1px solid red;
    font-size: 20px;
    -webkit-animation-delay :4s;
  }
  #sub2_btn:hover{
    background-color:red ;
    color:black;
  }
  h1{
    font-family:permanent Marker;
    font-size: 90px;
    font-weight: bold;
    text-align: center;
    -webkit-animation-delay:5s;
    color:rgba(189,192,172,0.8) ;
    margin:5px;
  }
.log_form{ 
  display: flex;
  flex-direction: column;
  background-color: #FFC907;
}
